<div id="mainCarousel" class="carousel slide container mb-5" data-bs-ride="carousel">
  <div class="carousel-inner rounded">
    <div class="carousel-item active">
      <img src="https://picsum.photos/id/1018/1200/400" class="d-block w-100" alt="Playa" />
    </div>
    <div class="carousel-item">
      <img src="https://picsum.photos/id/1015/1200/400" class="d-block w-100" alt="Montañas" />
    </div>
    <div class="carousel-item">
      <img src="https://picsum.photos/id/1016/1200/400" class="d-block w-100" alt="Ciudad" />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#mainCarousel"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#mainCarousel"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon"></span>
  </button>
</div>
