<div class="login-container">
  <div class="auth-card">
    <h3 class="text-center mb-4 text-primary">Restablecer Contraseña</h3>

    <form *ngIf="step === 'send'" (ngSubmit)="sendCode()">
      <div class="mb-3">
        <label class="form-label">Correo electrónico</label>
        <input [(ngModel)]="email" name="email" type="email" class="form-control" required />
      </div>

      <button type="submit" class="btn btn-primary w-100">Enviar código</button>
    </form>
    <form *ngIf="step === 'confirm'" (ngSubmit)="changePassword()">
      <div class="mb-3">
        <label class="form-label">Código de recuperación</label>
        <input [(ngModel)]="code" name="code" type="text" class="form-control" required />
      </div>

      <div class="mb-3">
        <label class="form-label">Nueva contraseña</label>
        <input
          [(ngModel)]="newPassword"
          name="newPassword"
          type="password"
          class="form-control"
          required
        />
      </div>

      <button type="submit" class="btn btn-primary w-100">Cambiar Contraseña</button>
    </form>

    <p class="text-center mt-3">
      ¿Ya recuerdas tu contraseña?
      <a routerLink="/login" class="toggle-link">Inicia sesión</a>
    </p>
  </div>
</div>
