<section class="container destinos-section mb-5">
  <h2 class="section-title">Destinos cercanos</h2>

  <div *ngIf="loading" class="loading-center">
    <div class="spinner-border text-primary"></div>
  </div>

  <div *ngIf="!loading" class="row g-4 justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let d of destinations">
      <app-destination-card
        [title]="d.city"
        [description]="d.description"
        [price]="d.price"
        [image]="d.image"
        [destinationId]="d.id"
      ></app-destination-card>
    </div>
  </div>
</section>
