.card {
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.btn-cancelar {
  background-color: #cc0000;
  color: white;
  border: none;
}
.btn-cancelar:hover {
  background-color: #990000;
}
