<section class="container search-section">
  <form class="row g-3 align-items-end" (ngSubmit)="onSubmit()">
    <div class="col-md-3">
      <label class="form-label">Ciudad</label>
      <input
        type="text"
        class="form-control"
        placeholder="Ej. Bogotá"
        [(ngModel)]="city"
        name="city"
      />
    </div>

    <div class="col-md-2">
      <label class="form-label">Check-in</label>
      <input type="date" class="form-control" [(ngModel)]="checkIn" name="checkIn" />
    </div>

    <div class="col-md-2">
      <label class="form-label">Check-out</label>
      <input type="date" class="form-control" [(ngModel)]="checkOut" name="checkOut" />
    </div>

    <div class="col-md-2">
      <label class="form-label">Precio máx.</label>
      <input
        type="number"
        class="form-control"
        placeholder="$200000"
        [(ngModel)]="maxPrice"
        name="maxPrice"
      />
    </div>

    <div class="col-md-2">
      <label class="form-label">Servicios</label>
      <select class="form-select" [(ngModel)]="service" name="service">
        <option value="">Todos</option>
        <option value="WIFI">WiFi</option>
        <option value="POOL">Piscina</option>
        <option value="BREAKFAST">Desayuno</option>
        <option value="PARKING">Parqueadero</option>
      </select>
    </div>

    <div class="col-md-1 d-grid">
      <button type="submit" class="btn btn-primary">Buscar</button>
    </div>
  </form>
</section>
