<section class="search-bar container">
  <form class="search-bar-inner" (ngSubmit)="onSubmit()">
    <div class="search-item">
      <label>Ciudad</label>
      <input type="text" placeholder="Ej. Bogotá" [(ngModel)]="city" name="city" />
    </div>

    <div class="search-item">
      <label>Check-in</label>
      <input type="date" [(ngModel)]="checkIn" name="checkIn" />
    </div>

    <div class="search-item">
      <label>Check-out</label>
      <input type="date" [(ngModel)]="checkOut" name="checkOut" />
    </div>

    <div class="search-item">
      <label>Precio máx.</label>
      <input type="number" placeholder="$200000" [(ngModel)]="maxPrice" name="maxPrice" />
    </div>

    <div class="search-item">
      <label>Servicios</label>
      <select [(ngModel)]="service" name="service">
        <option value="">Todos</option>
        <option value="WIFI">WiFi</option>
        <option value="POOL">Piscina</option>
        <option value="BREAKFAST">Desayuno</option>
        <option value="PARKING">Parqueadero</option>
      </select>
    </div>

    <button class="search-btn"><i class="bi bi-search"></i> Buscar</button>
  </form>
</section>
