@import 'bootstrap-icons/font/bootstrap-icons.css';
html,
/* === SEPARACIÓN GLOBAL DESPUÉS DE NAVBAR === */
body {
  padding-top: 20px; /* Ajusta según la altura real de tu navbar */
  background-color: #f8fafc;
}
